<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<input type="hidden" id="type" name="type" th:value="${#request.getParameter('type')}">
<input type="hidden" id="hubId" name="hubId" th:value="${#request.getParameter('hubId')}">
<input type="hidden" id="inforAddr" name="inforAddr" th:value="${#request.getParameter('inforAddr')}">
<input type="hidden" id="beginTime" name="beginTime" th:value="${#request.getParameter('beginTime')}">
<input type="hidden" id="endTime" name="endTime" th:value="${#request.getParameter('endTime')}">
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-card-body">
            <div id="echarts-records" style="width: 100%;min-height:500px"></div>
        </div>
    </div>
</div>


<script th:replace="common/base::mianJs"></script>
<script>
    var title = '[[${inforAddr}]]';

    var timeStr ;
    var valStr ;

</script>

<script th:inline="none">
    layui.use(['layer', 'layuimini','echarts'], function () {
        var $ = layui.jquery,
            echarts = layui.echarts;

        $.getJSON("/fi/topology/chart_data?hubId="+$('#hubId').val()+"&type="+$('#type').val()+"&inforAddr="+$('#inforAddr').val()+"&beginTime="+$('#beginTime').val()+"&endTime="+$('#endTime').val()+"", function(data){

            /**
             * 报表功能
             */
            var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');
            var optionRecords = {
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data:[title]
                },
                grid: {
                    left: '3%',
                    right: '4%',
                    bottom: '3%',
                    containLabel: true
                },
                toolbox: {
                    feature: {
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: data.time
                },
                yAxis: {
                    type: 'value'
                    // min: 150,
                    // max: 250
                },
                series: [
                    {
                        name: title,
                        type:'line',
                        data: data.val
                    }
                ]
            };
            echartsRecords.setOption(optionRecords);

            // echarts 窗口缩放自适应
            window.onresize = function(){
                echartsRecords.resize();
            }


        });

    });
</script>

</body>
</html>