<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<form class="layui-form" action="" th:object="${model}">
    <input type="hidden" th:field="*{id}"> <!--此处必须有业务主键的id-->


        <div class="layui-form-item">
            <label class="layui-form-label">任务类型</label>
            <div class="layui-input-block">
                        <select class="layui-select" th:field="*{taskType}" lay-verify="taskType">
                            <each th:each="item:${T(com.wt.mis.sys.util.DictUtils).getDictItems('定时任务类型')}">
                                <option th:value="${item.itemValue}" th:text="${item.itemKey}"></option>
                            </each>
                        </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">台区</label>
            <div class="layui-input-block">
                        <select class="layui-select" th:field="*{transformId}" lay-verify="transformId">
                            <each th:each="item:${transFormList}">
                                <option th:value="${item.id}" th:text="${item.transformName}"></option>
                            </each>
                        </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">间隔类型</label>
            <div class="layui-input-block">
                <select class="layui-select" th:field="*{intervalType}" lay-filter="intervalType">
                    <each th:each="item:${T(com.wt.mis.sys.util.DictUtils).getDictItems('定时任务时间间隔类型')}">
                        <option th:value="${item.itemValue}" th:text="${item.itemKey}"></option>
                    </each>
                </select>
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label" id="dayName"></label>
            <div class="layui-input-block">
                <input type="number" th:field="*{taskDay}" lay-verify="taskDay" placeholder="请输入执行日" class="layui-input" min="1"  max="31">
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">执行时间</label>
            <div class="layui-input-block">
                        <input type="text" th:field="*{taskTimeStr}" lay-verify="taskTime" autocomplete="off" placeholder="请输入任务执行时间" class="layui-input">
            </div>
        </div>

    <div class="layui-form-item">
        <label class="layui-form-label">间隔类型</label>
        <div class="layui-input-block">
            <select class="layui-select" th:field="*{taskState}">
                    <option value="1">执行</option>
                    <option value="2">暂停</option>
            </select>
        </div>
    </div>




    <input type="hidden" th:field="*{taskTime}">
    <input type="hidden" th:field="*{nextTask}">
    <input type="hidden" th:field="*{depId}" >





    <div class="layui-form-item  layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="saveBtn" id="saveBtn">保存</button>
        </div>
    </div>
</form>

<script th:replace="common/base::mianJs"></script>
<script>

    var submitUrl = '[[${#request.servletPath}]]';

    chanageText([[${model.intervalType}]]);

    //用于保存所有的上传文件信息
    var uploadFileMap = new Map();

    layui.use(['form', 'laydate', 'upload','treeSelect'], function () {
        var form = layui.form
                , laydate = layui.laydate
                , upload = layui.upload
                ,treeSelect = layui.treeSelect
                , $ = layui.jquery;

                laydate.render({elem: '#taskTimeStr', trigger: 'click',type: 'time',value:'[[${#dates.format(model.taskTime, 'HH:mm:ss')}]]'});

        //自定义验证规则
        form.verify({
                taskType:function (value) {
                    if (value == '') {
                        return '必须输入任务类型';
                    }
                },
                transformId:function(value){
                    if (value == '' || value == null) {
                        return '必须选择台区';
                    }
                },
                taskDay:function (value) {
                    if (parseInt(value)<=0 || parseInt(value) >31) {
                        return '请输入1到31之间的数字';
                    }
                },
                taskTime:function (value) {
                    if (value == '') {
                        return '请输入任务执行时间';
                    }
                },
                "test" :function(){}
        });

        //监听间隔类型的下拉选择
        form.on('select(intervalType)', function(data){
            //更新间隔类型的文字
            chanageText(data.value);
        });

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            let loadIndex = parent.layer.load();


            $.post(submitUrl, data.field, function (result) {
                let r = JSON.parse(result);
                if (r.code == 200) {
                    parent.layer.close(index); //再执行关闭
                    parent.layui.table.reload('searchListTable');
                }
                parent.layer.close(loadIndex);
                parent.layer.msg(r.message);
            });
            return false;
        });
    });


    //更新间隔类型的说文字
    function chanageText(val) {
        if(val == 1){
            //小时
            $('#dayName').html('间隔小时');
        }else if(val == 2){
            //天
            $('#dayName').html('间隔天数');
        }else if(val == 3){
            //周
            $('#dayName').html('星期');
        }else if(val == 4){
            //月
            $('#dayName').html('间隔月份');
        }
    }

</script>
</body>
</html>