<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-card-body">
            <div id="echarts-records" style="width: 100%;min-height:500px"></div>
        </div>
    </div>
</div>

<script th:replace="common/base::mianJs"></script>
<script th:inline="none">
    layui.use(['layer', 'layuimini','echarts'], function () {
        var $ = layui.jquery,
            echarts = layui.echarts;

        /**
         * 报表功能
         */
        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');
        var optionRecords = {
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data:['A相电压','B相电压','C相电压']
            },
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            toolbox: {
                feature: {
                    saveAsImage: {}
                }
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: window.parent.chartTimes
            },
            yAxis: {
                type: 'value'
            },
            series: [
                {
                    name:'A相电压',
                    type:'line',
                    data: window.parent.chartLineA
                },
                {
                    name:'B相电压',
                    type:'line',
                    data: window.parent.chartLineB
                },
                {
                    name:'C相电压',
                    type:'line',
                    data: window.parent.chartLineC
                }
            ]
        };
        echartsRecords.setOption(optionRecords);

        // echarts 窗口缩放自适应
        window.onresize = function(){
            echartsRecords.resize();
        }

        console.log(window.parent.chartTimes);
    });
</script>

</body>
</html>