<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="searchForm">
                    <div style="display: none"><input type="text" name="test" value=""></div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <select class="layui-select" name="devType" id="devType" lay-filter="devType" lay-search>
                                <option value="">请选择设备类型</option>
                                <each th:each="item:${T(com.wt.mis.sys.util.DictUtils).getDictItems('设备类型')}">
                                    <option th:value="${item.itemValue}" th:text="${item.itemKey}"></option>
                                </each>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <input type="text" name="devName" autocomplete="off" class="layui-input" placeholder="设备名称">
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i>查询</a>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-warm data-reset-btn" lay-button=""><i class="layui-icon">&#xe666;</i>重置</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>
        <table class="layui-hide" id="searchListTable" lay-filter="searchListTable"></table>

    </div>
</div>

<script type="text/html" id="statusTemp">
    {{#  if(d.event_status == '3'){ }}
    <font color="red">{{d.event_status_name}}</font>
    {{#  } else if(d.event_status == '2') { }}
    <font color="green">{{d.event_status_name}}</font>
    {{#  } else { }}
    {{d.event_status_name}}
    {{#  } }}
</script>

<script th:replace="common/base::mianJs"></script>
<script th:inline="none">


    // config.initQueryCondition();

    layui.use(['form', 'table','laydate','treeSelect'], function () {
        var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                treeSelect = layui.treeSelect,
                table = layui.table;

        // 默认的操作地址
        var list_url = '/event/notification/list';
        var delete_url = '/event/notification/delete';
        var add_page_url = '/event/notification/add';
        var edit_page_url = '/event/notification/edit';
        var view_page_url = '/event/notification/view';


        table.render($.extend(config.searchListTable, {
            url: list_url,
            toolbar: null,
            height: 'full',       //表格高度微调，适应页面
            //表格列
            cols: [[
                {field: 'create_time', width: 180, title: '执行时间',sort: true},
                {field: 'dev_name', width: 160, title: '设备名称',sort: true},
                {field: 'dev_type', width: 110, title: '设备类型',sort: true},
                {field: 'event_type', width: 160, title: '事件类型',sort: true},
                {field: 'event_status_name', width: 110, title: '事件状态',sort: true,templet: '#statusTemp'},
                {field: 'event_value', width: 200, title: '执行参数'}
                // {field: 'event_priority', width: 100, title: '优先级',sort: true},
            ]]
        }));

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('searchListTable', {
                id: 'searchListTable',
                page: {
                    curr: 1  //重新加载后默认为第一页
                }
                , where: {
                    "devType": data.field.devType,
                    "devName": data.field.devName,
                    "test" : ""  //为了js不出错而加，
                }
            });
            return false;
        });


        //重置按钮操作
        $(".data-reset-btn").on('click', function () {
            //清空表单
            $("#searchForm")[0].reset();
            //重新加载
            table.reload('searchListTable',{
                page: {curr: 1},
                where: {
                    "devType": "",
                    "devName": "",
                    "test" : ""
                }
            });
        });


        //重置按钮操作
        $(".data-reset-btn").on('click', function () {
            //清空表单
            $("#searchForm")[0].reset();
            //重新加载
            table.reload('searchListTable',{
                page: {curr: 1},
                where: {
                        "test" : ""
                }
            });
        });

    });
</script>

</body>
</html>