<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<form class="layui-form" action="" th:object="${model}">
    <input type="hidden" th:field="*{id}"> <!--此处必须有业务主键的id-->

    <table class="layui-table" lay-size="sm">
        <colgroup>
            <col width="100">
            <col>
        </colgroup>
        <tbody>
        <tr>
            <th class="layui-bg-gray">所属用户</th>
            <td th:text="*{ownerName}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">安装位置</th>
            <td th:text="*{installationLocation}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">资产编号</th>
            <td th:text="*{meterBarcode}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">出厂编号</th>
            <td th:text="*{serialNumber}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">单/三相</th>
            <td th:text="${threePhase}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">参比电压</th>
            <td th:text="*{referenceVoltage}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">参比电流</th>
            <td th:text="*{referenceCurrent}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">通讯地址</th>
            <td th:text="*{protocolAddress}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">电表常数</th>
            <td th:text="*{meterConstant}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">电表准确度</th>
            <td th:text="*{meterAccuracy}"></td>
        </tr>
        <tr>
            <th class="layui-bg-gray">运维班组</th>
            <td th:text="${operationsTeam}"></td>
        </tr>
        </tbody>
    </table>

</form>
</body>
</html>