<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<form class="layui-form" action="" th:object="${model}">
    <input type="hidden" th:field="*{id}"> <!--此处必须有业务主键的id-->


    <div class="layui-form-item">
        <label class="layui-form-label">台区名称</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{transformName}" lay-verify="transformName" autocomplete="off"
                   placeholder="请输入台区名称" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">台区编号</label>
        <div class="layui-input-block">
            <input type="number" th:field="*{transformNum}" lay-verify="transformNum" autocomplete="off" min="1"
                   placeholder="请输入台区编号" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">安装位置</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{installationLocation}" lay-verify="installationLocation" autocomplete="off"
                   placeholder="请输入变压器安装位置" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">厂家</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{transformFactory}" autocomplete="off" placeholder="请输入变压器厂家"
                   class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">出厂编号</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{serialNumber}" autocomplete="off" placeholder="请输入变压器出厂编号"
                   class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">出厂日期</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{manufacturingDate}"
                   th:value="*{#dates.format(manufacturingDate, 'yyyy-MM-dd HH:mm:ss')}" autocomplete="off"
                   placeholder="请输入变压器出厂日期" class="layui-input">
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">汇聚终端</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{devAddress}" lay-verify="devAddress" autocomplete="off"
                   placeholder="请输入汇聚终端地址" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">通讯地址</label>
        <div class="layui-input-block">
            <input type="text" th:field="*{protocolAddress}" autocomplete="off" placeholder="请输入协议通讯地址" lay-verify="protocolAddress"
                   class="layui-input">
        </div>
    </div>

    <input type="hidden" th:field="*{operationsTeam}">
<!--    <div class="layui-form-item">-->
<!--        <label class="layui-form-label">运维班组</label>-->
<!--        <div class="layui-input-block">-->
<!--            <input type="text" th:field="*{operationsTeam}" lay-verify="operationsTeam" autocomplete="off"-->
<!--                   placeholder="请输入运维班组" class="layui-input" lay-filter="depTree">-->
<!--        </div>-->
<!--    </div>-->

    <div class="layui-form-item">
        <label class="layui-form-label">归属线路</label>
        <div class="layui-input-block">
            <select class="layui-select" th:field="*{lineId}" lay-verify="lineId">
                <option value="">请选择线路</option>
                <each th:each="item:${lines}">
                    <option th:value="${item.id}" th:text="${item.lineName}"></option>
                </each>
            </select>
        </div>
    </div>


    <div class="layui-form-item  layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="saveBtn" id="saveBtn">保存</button>
        </div>
    </div>
</form>

<script th:replace="common/base::mianJs"></script>
<script>

    var submitUrl = '[[${#request.servletPath}]]';

    //用于保存所有的上传文件信息
    var uploadFileMap = new Map();

    layui.use(['form', 'laydate', 'upload', 'treeSelect'], function () {
        var form = layui.form
            , laydate = layui.laydate
            , upload = layui.upload
            , treeSelect = layui.treeSelect
            , $ = layui.jquery;

        laydate.render({elem: '#manufacturingDate', trigger: 'click'});
        // treeSelect.render({
        //     // 选择器
        //     elem: '#operationsTeam',
        //     data: '/api/sys/dep_tree_json?open=true&show_self=true',
        //     type: 'get',
        //     placeholder: '请选择运维班组',
        //     search: true,
        //     // 加载完成后的回调函数
        //     success: function (d) {
        //         treeSelect.checkNode('depTree', [[${model.operationsTeam}]]); //默认选中
        //     }
        // });

        //自定义验证规则
        form.verify({
            transformName: function (value) {
                if (value == '') {
                    return '必须输入台区名称';
                }
            },
            transformNum: function (value) {
                if (value == '') {
                    return '必须输入台区编号';
                }
            },
            installationLocation: function (value) {
                if (value == '') {
                    return '必须输入变压器安装位置';
                }
            },
            devAddress: function (value) {
                var pattern = /^[A-Z0-9]{8}$/;
                if(value == ''){
                    return '必须输入汇聚终端地址';
                }
                if (!pattern.test(value)) {
                    return '汇聚终端地址必须由8位的数字或大写字母组成';
                }
            },
            protocolAddress: function (value) {
                var pattern = /^[A-Z0-9]{12}$/;
                if(value == ''){
                    return '必须输入通讯地址';
                }
                if (!pattern.test(value)) {
                    return '通讯地址必须由12位的数字或大写字母组成';
                }
            },
            lineId: function (value) {
                if (value == '') {
                    return '必须选择线路';
                }
            },
            "test": function () {
            }
        });


        //监听提交
        form.on('submit(saveBtn)', function (data) {
            let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            let loadIndex = parent.layer.load();

            $.post(submitUrl, data.field, function (result) {
                let r = JSON.parse(result);
                if (r.code == 200) {
                    parent.layer.close(index); //再执行关闭
                    parent.layui.table.reload('searchListTable');
                }
                parent.layer.close(loadIndex);
                parent.layer.msg(r.message);
            });
            return false;
        });
    });

    //删除附件
    function delRow(obj, fileInputId, id) {
        $(obj).parent().remove();
        let fileSets = new Set(uploadFileMap.get(fileInputId));
        fileSets.delete(parseInt(id));
        uploadFileMap.set(fileInputId, fileSets);
        if (id != undefined) {
            $.post('/sys/upload/' + id + '/del', function (result) {
                //console.log(result);
            });
        }
    }

</script>
</body>
</html>