<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<!--全局title-->
<title th:fragment="pagetitle">系统管理平台V1.0</title>
<body>
<!-- loa上下文路径  -->
<script th:fragment="context" th:inline="javascript">
    var BASE_WEB = [[${#httpServletRequest.getContextPath()}]] + '/';
</script>



<!-- 共用css/js静态资源 -->
<div th:fragment="static">
    <link rel="stylesheet" th:href="@{/lib/layui-v2.5.4/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/public.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/layuimini.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/css/font-awesome.min.css}" media="all">
    <link rel="stylesheet" th:href="@{/lib/font-awesome-4.7.0/less/variables.less}" media="all">
</div>

<!--列表页及编辑页面中都要用到的js-->
<div th:fragment="mianJs">
    <script th:src="@{/lib/layui-v2.5.4/layui.js}" charset="utf-8"></script>
    <script th:src="@{/js/lay-config.js?v=1.0.4}" charset="utf-8"></script>
    <script th:src="@{/js/mis-config.js}" charset="utf-8"></script>
    <script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
</div>



</body>
</html>