<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <div style="margin: 10px 10px 10px 10px">
                <form class="layui-form layui-form-pane" id="searchForm">
                    <div style="display: none"><input type="text" name="test" value=""></div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <select class="layui-select" name="transFormId" id="transFormId" lay-filter="transFormId" lay-search></select>
                        </div>
                        <div class="layui-inline">
                            <select class="layui-select" name="devType" id="devType" lay-filter="devType" lay-search>
                                <option value="">请选择设备类型</option>
                                <each th:each="item:${T(com.wt.mis.sys.util.DictUtils).getDictItems('设备类型')}">
                                    <option th:value="${item.itemValue}" th:text="${item.itemKey}"></option>
                                </each>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select class="layui-select" name="devId" id="devId" lay-filter="devId" lay-search >
                                <option value="">请选择设备名称</option>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <select class="layui-select" name="dyType" id="dyType" lay-filter="dyType" lay-search>
                                <option value="">请选择报警类型</option>
                                <each th:each="item:${T(com.wt.mis.sys.util.DictUtils).getDictItems('电压状态')}">
                                    <option th:value="${item.itemValue}" th:text="${item.itemKey}"></option>
                                </each>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <div class="layui-input-inline" style="width: 110px;">
                            <input type="text" name="occurTimeBegin" id="occurTimeBegin" autocomplete="off" class="layui-input"
                                   placeholder="报警日期开始">
                            </div>
                            <div class="layui-form-mid">-</div>
                            <div class="layui-input-inline" style="width: 110px;">
                                    <input type="text" name="occurTimeEnd" id="occurTimeEnd" autocomplete="off" class="layui-input"
                                           placeholder="报警日期结束">
                            </div>
                        </div>


                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i>查询</a>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-warm data-reset-btn" lay-button=""><i class="layui-icon">&#xe666;</i>重置</a>
                        </div>
                    </div>
                </form>
            </div>
        </fieldset>

        <div style="padding: 20px; background-color: #F2F2F2;">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md9">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-table icon"></i> 报警历史记录</div>
                        <div class="layui-card-body">
                            <table class="layui-hide" id="searchListTable" lay-filter="searchListTable"></table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-table icon"></i> 设备报警次数排名</div>
                        <div class="layui-card-body">
                            <table class="layui-hide" id="searchListTable3" lay-filter="searchListTable3"></table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md9">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-table icon"></i> 当前报警设备</div>
                        <div class="layui-card-body">
                            <table class="layui-hide" id="searchListTable2" lay-filter="searchListTable2"></table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-card">
                        <div class="layui-card-header"><i class="fa fa-table icon"></i> 设备报警次数排名</div>
                        <div class="layui-card-body">
                            <div id="echarts-records" style="width: 100%;min-height:370px"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<script type="text/html" id="dyATemp">
    {{#  if(d.voltageStatusA != '正常'){ }}
      <font color="red">{{d.voltageStatusA}}</font>
    {{#  } else { }}
       {{d.voltageStatusA}}
    {{#  } }}
</script>
<script type="text/html" id="dyBTemp">
    {{#  if(d.voltageStatusB != '正常'){ }}
    <font color="red">{{d.voltageStatusB}}</font>
    {{#  } else { }}
    {{d.voltageStatusB}}
    {{#  } }}
</script>
<script type="text/html" id="dyCTemp">
    {{#  if(d.voltageStatusC != '正常'){ }}
    <font color="red">{{d.voltageStatusC}}</font>
    {{#  } else { }}
    {{d.voltageStatusC}}
    {{#  } }}
</script>
<script type="text/html" id="powerStatusTemp">
    {{#  if(d.powerStatus != '正常'){ }}
    <font color="red">{{d.powerStatus}}</font>
    {{#  } else { }}
    {{d.powerStatus}}
    {{#  } }}
</script>
<script type="text/html" id="phaseStatusTemp">
    {{#  if(d.phaseStatus != '正常'){ }}
    <font color="red">{{d.phaseStatus}}</font>
    {{#  } else { }}
    {{d.phaseStatus}}
    {{#  } }}
</script>

<script th:replace="common/base::mianJs"></script>
<script th:inline="none">


    // config.initQueryCondition();

    layui.use(['form', 'table','laydate','echarts'], function () {
        var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                table = layui.table;

        // 默认的操作地址
        var list_url = '/event/poweroutage/list';
        var list_current_power_url = '/event/poweroutage/current_power_list';

        laydate.render({elem: '#occurTimeBegin'});
        laydate.render({elem: '#occurTimeEnd'});


        //报警历史记录表格
        table.render($.extend(config.searchListTable, {
            url: list_url,
            height: 350, //固定值
            toolbar: null,  //顶部工具栏的默认ID
            page: false,
            //表格列
            cols: [[
                {field: 'devName', width: 180, title: '设备名称'},
                {field: 'devTypeName', width: 120, title: '设备类型'},
                {field: 'occurTime', width: 200, title: '发生时间',sort:true},
                {field: 'powerStatus', width: 90, title: '停电状态',templet: '#powerStatusTemp'},
                {field: 'phaseStatus', width: 90, title: '相序状态',templet: '#phaseStatusTemp'},
                {field: 'voltageStatusA', width: 90, title: 'A相电压',templet: '#dyATemp'},
                {field: 'voltageStatusB', width: 90, title: 'B相电压',templet: '#dyBTemp'},
                {field: 'voltageStatusC', width: 90, title: 'C相电压',templet: '#dyCTemp'},
                {field: 'devParentName', width: 280, title: '上级设备名称'},
                {field: 'devParentType', width: 120, title: '上级设备类型'},
                {field: 'transformName', width: 200, title: '所属台区'}
            ]],
            //将返回的列表数据格式化成layui的格式
            parseData: function (res) { //res 即为原始返回的数据
                if(res.data.sumList!=null){
                    //报警次数排名表格
                    table.render({
                        height: 350, //固定值
                        page: false,
                        elem: '#searchListTable3',  //默认的查询列表页面中table的ID
                        data: res.data.sumList,
                        cols: [[
                            {field: 'devName', width: 220, title: '设备名称'},
                            {field: 'cnt', width: 130, title: '报警次数',sort:true}
                        ]],
                    });

                    //统计图表格
                    initChart(res.data.logList);
                }
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "data": res.data.logList //解析数据列表
                };
            }
        }));


        //当前停电设备列表
        table.render({
            height: 350, //固定值
            page: false,
            method:'get', //设置提交方式为post
            elem: '#searchListTable2',  //默认的查询列表页面中table的ID
            url: list_current_power_url,
            cols: [[
                {field: 'devName', width: 180, title: '设备名称'},
                {field: 'devTypeName', width: 130, title: '设备类型'},
                {field: 'occurTime', width: 200, title: '发生时间',sort:true},
                {field: 'powerStatus', width: 90, title: '停电状态',templet: '#powerStatusTemp'},
                {field: 'phaseStatus', width: 90, title: '相序状态',templet: '#phaseStatusTemp'},
                {field: 'voltageStatusA', width: 90, title: 'A相电压',templet: '#dyATemp'},
                {field: 'voltageStatusB', width: 90, title: 'B相电压',templet: '#dyBTemp'},
                {field: 'voltageStatusC', width: 90, title: 'C相电压',templet: '#dyCTemp'},
                {field: 'devParentName', width: 200, title: '上级设备名称'},
                {field: 'devParentType', width: 120, title: '上级设备类型'},
                {field: 'transformName', width: 200, title: '所属台区'}
            ]],
            response: {
                statusCode: 200 //规定成功的状态码，原框架默认：0
            },
            //将返回的列表数据格式化成layui的格式
            parseData: function (res) { //res 即为原始返回的数据
                //console.log(res);
                return {
                    "code": res.code, //解析接口状态
                    "msg": res.message, //解析提示文本
                    "data": res.data //解析数据列表
                };
            }
        });



        //监听设备类型下拉框选择
        form.on('select(devType)',function (data) {
            let devType = data.value;
            let transFormId = $('#transFormId').val();
            if(devType!="" && transFormId !=""){
                getDevListForSelect(devType,transFormId);
            }
        });

        //监听台区类型下拉框选择
        form.on('select(transFormId)',function (data) {
            let devType = $('#devType').val();
            let transFormId = data.value;
            if(devType!="" && transFormId !=""){
                getDevListForSelect(devType,transFormId);
            }
        });

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            if(data.field.transFormId==''){
                layer.alert("请选择台区及设备类型后在进行查询！",{icon: 2});
                return false;
            }else{
                //执行搜索重载
                table.reload('searchListTable', {
                    page: false
                    , where: {
                        "devType": data.field.devType,
                        "dyType": data.field.dyType,
                        "devId": data.field.devId,
                        "occurTimeBegin": data.field.occurTimeBegin,
                        "occurTimeEnd": data.field.occurTimeEnd,
                        "transFormId" : data.field.transFormId
                    }
                });
                return false;
            }
        });


        //重置按钮操作
        $(".data-reset-btn").on('click', function () {
            //清空表单
            $("#searchForm")[0].reset();
            //重新加载
            table.reload('searchListTable',{
                page: false,
                where: {
                        "devId": "",
                        "devType": "",
                        "dyType": "",
                        "occurTimeBegin" : "",
                        "occurTimeEnd" : "",
                        "transFormId" : ""
                }
            });
        });

        //加载台区
        $.getJSON("/dev/api/dev_list?devType=2",function (json) {
            let html = '<option value="">请选择台区</option>';
            for(var i=0;i<json.length;i++){
                //console.log(json[i].name);
                html = html + "<option value='"+json[i].value+"'>"+json[i].name+"</option>";
            }
            $('#transFormId').append(html);
            form.render();
        });

        //获取设备下拉列表
        function getDevListForSelect(devType,transFormId) {
            $('#devId').empty();
            $.getJSON("/dev/api/dev_list?showByq=true&transFormId="+transFormId+"&devType="+devType,function (json) {
                let html = "<option value=''>请选择设备名称</option>";
                for(var i=0;i<json.length;i++){
                    // console.log(json[i].name);
                    html = html + "<option value='"+json[i].value+"'>"+json[i].name+"</option>";
                }
                $('#devId').append(html);
                form.render();
            });
        }

        var echartsRecords = echarts.init(document.getElementById('echarts-records'), 'walden');

        //绘制统计图
        function initChart(list){
            let syCnt = 0;
            let qyCnt = 0;
            let gyCnt = 0;
            for(let i=0;i<list.length;i++){
                if(list[i].voltageStatusA == '失压'){syCnt++;}
                if(list[i].voltageStatusA == '欠压'){qyCnt++;}
                if(list[i].voltageStatusA == '过压'){gyCnt++;}
                if(list[i].voltageStatusB == '失压'){syCnt++;}
                if(list[i].voltageStatusB == '欠压'){qyCnt++;}
                if(list[i].voltageStatusB == '过压'){gyCnt++;}
                if(list[i].voltageStatusC == '失压'){syCnt++;}
                if(list[i].voltageStatusC == '欠压'){qyCnt++;}
                if(list[i].voltageStatusC == '过压'){gyCnt++;}
            }

            //加载统计图
            option = {
                title: {
                    text: '报警类型比例',
                    left: 'center'
                },
                tooltip: {
                    trigger: 'item',
                    formatter: '{b} : {c} ({d}%)'
                },
                legend: {
                    bottom: 10,
                    left: 'center',
                    data: ['失压', '欠压', '过压']
                },
                series: [
                    {
                        type: 'pie',
                        radius: '65%',
                        center: ['50%', '50%'],
                        selectedMode: 'single',
                        data: [
                            {value: syCnt, name: '失压'},
                            {value: qyCnt, name: '欠压'},
                            {value: gyCnt, name: '过压'}
                        ],
                        emphasis: {
                            itemStyle: {
                                shadowBlur: 10,
                                shadowOffsetX: 0,
                                shadowColor: 'rgba(0, 0, 0, 0.5)'
                            }
                        }
                    }
                ]
            };
            echartsRecords.setOption(option);
        }



        // echarts 窗口缩放自适应
        window.onresize = function(){
            echartsRecords.resize();
        }

    });
</script>

</body>
</html>