<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<form class="layui-form layui-form-pane" id="searchForm">
<div class="layuimini-container">
    <div class="layuimini-main">
        <fieldset class="layui-elem-field layuimini-search">
            <div style="margin: 10px 10px 10px 10px">
                    <div style="display: none"><input type="text" name="test" value=""></div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <select class="layui-select" name="devType" id="devType" lay-filter="devType" lay-search>
                                <option value="">请选择设备类型</option>
                                <each th:each="item:${T(com.wt.mis.sys.util.DictUtils).getDictItems('设备类型')}">
                                    <option th:value="${item.itemValue}" th:text="${item.itemKey}"></option>
                                </each>
                            </select>
                        </div>
                        <div class="layui-inline">
                            <input type="text" name="devName" autocomplete="off" class="layui-input" placeholder="设备名称">
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn" lay-submit="" lay-filter="data-search-btn"><i class="layui-icon">&#xe615;</i>查询</a>
                        </div>
                        <div class="layui-inline">
                            <a class="layui-btn layui-btn-warm data-reset-btn" lay-button=""><i class="layui-icon">&#xe666;</i>重置</a>
                        </div>
                    </div>
            </div>
        </fieldset>
        <table class="layui-hide" id="searchListTable" lay-filter="searchListTable"></table>
    </div>

    <div class="layui-card-header">拓扑操作</div>
    <div class="layui-card-body">
        <div class="layui-row">
            <div class="layui-col-md1"><button type="button" class="layui-btn layui-btn-normal" id="event15">查询拓扑等级</button></div>
            <div class="layui-col-md1 layui-col-md-offset1"><button type="button" class="layui-btn layui-btn-normal" id="event14">设置拓扑等级</button></div>
            <div class="layui-col-md1"><input type="number" autocomplete="off" class="layui-input" id="event14val" name="event14val" placeholder="拓扑等级"/></div>
            <div class="layui-col-md1 layui-col-md-offset1"><button type="button" class="layui-btn layui-btn-normal" id="event9">添加设备</button></div>
            <div class="layui-col-md1">
                <select class="layui-select" name="event9val1" id="event9val1">
                    <option value="">设备类型</option>
                <each th:each="item:${T(com.wt.mis.sys.util.DictUtils).getDictItems('设备类型')}">
                    <if th:if="${item.itemValue!='2'}">
                    <option th:value="${item.itemValue}" th:text="${item.itemKey}"></option>
                    </if>
                </each>
               </select>
            </div>
            <div class="layui-col-md1" style="padding-left: 10px"><input type="text"  class="layui-input" id="event9val2" name="event9val2" placeholder="设备地址"/></div>
            <div class="layui-col-md1" style="padding-left: 10px">
                <select class="layui-select" name="event9val3" id="event9val3">
                    <option value="">选择相位</option>
                    <each th:each="item:${T(com.wt.mis.sys.util.DictUtils).getDictItems('单/三相')}">
                        <option th:value="${item.itemValue}" th:text="${item.itemKey}"></option>
                    </each>
                </select>
            </div>
            <div class="layui-col-md1" style="padding-left: 10px"><input type="text"  class="layui-input" id="event9val4" name="event9val4" placeholder="父设备地址"/></div>
        </div>

        <div class="layui-row" style="padding-top: 25px">
            <div class="layui-col-md1"><button type="button" class="layui-btn layui-btn-normal" id="event13">查询台区号</button></div>
            <div class="layui-col-md1 layui-col-md-offset1"><button type="button" class="layui-btn layui-btn-normal" id="event11"> 设置台区号 </button></div>
            <div class="layui-col-md1"><input type="number" autocomplete="off" class="layui-input" id="event11val" name="event11val" placeholder="台区号"></div>
            <div class="layui-col-md1 layui-col-md-offset1"><button type="button" class="layui-btn layui-btn-normal" id="event10">删除设备</button></div>
            <div class="layui-col-md1"> &nbsp;&nbsp;&nbsp;&nbsp; <!--<input type="text" autocomplete="off" class="layui-input" placeholder="设备地址"  id="event10val" name="event10val">--></div>
        </div>

        <div class="layui-row" style="padding-top: 25px">
            <div class="layui-col-md1"><button type="button" class="layui-btn layui-btn-normal" id="event2">召测拓扑</button></div>
            <div class="layui-col-md1 layui-col-md-offset1"><button type="button" class="layui-btn layui-btn-normal" id="event7">刷新拓扑</button></div>
            <div class="layui-col-md1"> &nbsp;&nbsp;&nbsp;&nbsp; <!--<input type="number" autocomplete="off" class="layui-input" placeholder="" id="event13Val" name="event13Val" >--></div>
            <div class="layui-col-md1 layui-col-md-offset1"><button type="button" class="layui-btn layui-btn-normal" id="event8">刷新相位</button></div>
            <div class="layui-col-md1"></div>
        </div>

        <div class="layui-row" style="padding-top: 25px">
            <div class="layui-col-md1"><button type="button" class="layui-btn layui-btn-normal" id="event21">读取设备数量</button></div>
            <div class="layui-col-md1 layui-col-md-offset1"><button type="button" class="layui-btn layui-btn-normal" id="event22">删除所有设备</button></div>
            <div class="layui-col-md1 layui-col-md-offset1"><button type="button" class="layui-btn layui-btn-normal" id="event23">广播清除台区号</button></div>
            <div class="layui-col-md1 layui-col-md-offset1"><button type="button" class="layui-btn layui-btn-normal" id="event16">查询停电状态</button></div>
        </div>
    </div>

</div>

</form>

<script th:replace="common/base::mianJs"></script>
<script th:inline="none">


    // config.initQueryCondition();

    layui.use(['form', 'table','laydate'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            table = layui.table;

        // 默认的操作地址
        var list_url = '/dev/topology/list';


        table.render($.extend(config.searchListTable, {
            url: list_url,
            id: 'searchListTable',
            //表格列
            cols: [[
                {type: "radio", width: 50, fixed: "left"},
                {field: 'dev_name', width: 200, title: '设备名称'},
                {field: 'dev_type_name', width: 130, title: '设备类型'},
                {field: 'dev_address', width: 150, title: '通讯地址'},
                {field: 'dev_online', width: 130, title: '是否在线'},
                {field: 'dev_exist', width: 130, title: '是否存在'},
                {field: 'transform_name', width: 250, title: '所属台区'},
            ]],
            elem: '#searchListTable',  //默认的查询列表页面中table的ID
            toolbar: null,  //顶部工具栏的默认ID
            height: '300'       //表格高度微调，适应页面
        }));

        // 监听搜索操作
        form.on('submit(data-search-btn)', function (data) {
            //执行搜索重载
            table.reload('searchListTable', {
                id: 'searchListTable',
                page: {
                    curr: 1  //重新加载后默认为第一页
                }
                , where: {
                    "devType": data.field.devType,
                    "devName": data.field.devName,
                    "test" : ""  //为了js不出错而加，
                }
            });
            return false;
        });


        //重置按钮操作
        $(".data-reset-btn").on('click', function () {
            //清空表单
            $("#searchForm")[0].reset();
            //重新加载
            table.reload('searchListTable',{
                page: {curr: 1},
                where: {
                    "devType": "",
                    "devName": "",
                    "test" : ""
                }
            });
        });

        var alertMsgCfg = {icon: 2,shade: [0.8, '#393D49']};

        //刷新拓扑
        $('#event7').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择设备！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                if(selectRow.dev_type==2){
                    layer.msg("将会刷线台区所有设备的拓扑，耗时较长，请耐心等待！", alertMsgCfg);
                    $.getJSON("/event/notification/send_event/19", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }else{
                    $.getJSON("/event/notification/send_event/7", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }

            }
        });

        //刷新相位
        $('#event8').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择设备！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                if(selectRow.dev_type ==  2){
                    layer.msg("将会刷线台区所有设备的相位，耗时较长，请耐心等待！", alertMsgCfg);
                    $.getJSON("/event/notification/send_event/20", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }else{
                    $.getJSON("/event/notification/send_event/8", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }

            }
        });

        //召测拓扑
        $('#event2').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择台区！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                if(selectRow.dev_type != 2){
                    layer.msg("只能对台区召测拓扑！", alertMsgCfg);
                    return false;
                }else{
                    $.getJSON("/event/notification/send_event/2", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }
            }
        });

        //添加设备
        $('#event9').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择台区！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                if(selectRow.dev_type != 2){
                    layer.msg("请选择台区！", alertMsgCfg);
                    return false;
                }else{
                    if($('#event9val1').val()==''||$('#event9val2').val()==''||$('#event9val3').val()==''||$('#event9val4').val()==''){
                        layer.msg("请录入添加的设备信息！", alertMsgCfg);
                        return false;
                    }else{
                        var pattern = /^[A-Z0-9]{12}$/;
                        if (!pattern.test($('#event9val4').val())||!pattern.test($('#event9val2').val())) {
                            layer.msg("通讯地址必须由12位的数字或大写字母组成！", alertMsgCfg);
                            return ;
                        }
                        $.getJSON("/event/notification/send_event/9", { devId:selectRow.dev_id,devType:selectRow.dev_type,eventValue:$('#event9val1').val()+","+$('#event9val2').val()+","+$('#event9val3').val()+","+$('#event9val4').val()}, function (data) {
                            layer.msg(data.message);
                        });
                    }
                }
            }
        });

        //删除设备
        $('#event10').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择台区下的设备！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                if(selectRow.dev_type == 2){
                    layer.msg("不能在拓扑中删除汇聚单元,请选择其他设备！", alertMsgCfg);
                    return false;
                }else{
                    $.getJSON("/event/notification/send_event/10", { devId:selectRow.dev_id,devType:selectRow.dev_type,eventValue: selectRow.dev_address}, function (data) {
                        layer.msg(data.message);
                    });
                }

            }

        });

        //设置拓扑等级
        $('#event14').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0 ||  $('#event14val').val() == ''){
                layer.msg("请选择设备且录入拓扑等级！", alertMsgCfg);
                return false;
            }else{
                if($('#event14val').val()>=0&&$('#event14val').val()<=255){
                    let selectRow = selectRows.data[0];
                    $.getJSON("/event/notification/send_event/14", {devId:selectRow.dev_id,devType:selectRow.dev_type,eventValue:$('#event14val').val()}, function (data) {
                        layer.msg(data.message);
                    });
                }else{
                    layer.msg("录入的拓扑等级范围需要在0到255之间！", alertMsgCfg);
                    return false;
                }
            }
        });

        //设置台区号
        $('#event11').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0 ||  $('#event11val').val() == ''){
                layer.msg("请选择设备且录入台区号！", alertMsgCfg);
                return false;
            }else{
                if($('#event11val').val()>=0&&$('#event11val').val()<=65535){
                    let selectRow = selectRows.data[0];
                    $.getJSON("/event/notification/send_event/11", {devId:selectRow.dev_id,devType:selectRow.dev_type,eventValue:$('#event11val').val()}, function (data) {
                        layer.msg(data.message);
                    });
                }else{
                    layer.msg("录入的台区号范围需要在0到65535之间！", alertMsgCfg);
                    return false;
                }
            }
        });

        //查询拓扑等级
        $('#event15').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择设备！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                $.getJSON("/event/notification/send_event/15", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                    layer.msg(data.message);
                });
            }
        });

        //查询台区号
        $('#event13').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择设备！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                if(selectRow.dev_type == 2){
                    //是台区的话调用查询汇聚单元台区号
                    $.getJSON("/event/notification/send_event/12", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }else{
                    $.getJSON("/event/notification/send_event/13", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }

            }
        });

        //读取设备数量
        $('#event21').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择台区设备！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                if(selectRow.dev_type == 2){
                    $.getJSON("/event/notification/send_event/21", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }else{
                    layer.msg("请选择台区设备！", alertMsgCfg);
                }
            }
        });

        //删除所有设备
        $('#event22').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择台区设备！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                if(selectRow.dev_type == 2){
                    $.getJSON("/event/notification/send_event/22", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }else{
                    layer.msg("请选择台区设备！", alertMsgCfg);
                }
            }
        });

        //广播清除台区号
        $('#event23').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择台区设备！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                if(selectRow.dev_type == 2){
                    $.getJSON("/event/notification/send_event/23", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                        layer.msg(data.message);
                    });
                }else{
                    layer.msg("请选择台区设备！", alertMsgCfg);
                }
            }
        });

        //读取停电状态
        $('#event16').click(function(){
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择设备！", alertMsgCfg);
                return false;
            }else{
                let selectRow = selectRows.data[0];
                $.getJSON("/event/notification/send_event/16", {devId:selectRow.dev_id,devType:selectRow.dev_type}, function (data) {
                    layer.msg(data.message);
                });
            }
        });

    });
</script>

</body>
</html>