<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
    <script th:replace="common/base::mianJs"></script>
    <script th:src="@{/js/jtopo-0.4.8-min.js}" charset="utf-8"></script>
    <script th:src="@{/js/toolbar.js}" charset="utf-8"></script>
</head>
<body style="background-color: #9F9F9F">

<!--工具栏-->
<div style="margin: 10px 10px 10px 10px">
    <form class="layui-form layui-form-pane" id="searchForm">
        <div class="layui-form-item">
            <div class="layui-inline">
                <input type="checkbox" id="zoomCheckbox" title="鼠标缩放" lay-filter="zoomCheckbox">
            </div>
            <div class="layui-inline">
                <input type="text" name="findText" id="findText" autocomplete="off" class="layui-input" placeholder="输入节点设备名称">
            </div>
            <div class="layui-inline">
                <a class="layui-btn" id="findButton"><i class="layui-icon">&#xe615;</i>查询</a>
            </div>
        </div>
    </form>
</div>
<!--拓扑图显示-->
<canvas  id="canvas"></canvas>
</body>
</html>
<script th:inline="javascript">
        // $(document).ready(function(){

        layui.use(['layer','form'], function () {
            var form = layui.form;
            form.render();

            var canvas = document.getElementById('canvas');
            var stage = new JTopo.Stage(canvas);
            var scene = new JTopo.Scene(stage);
            $('#canvas').attr("height",$(window).height()-100);
            $('#canvas').attr("width",$(window).width()-40);
            showJTopoToobar(stage);

            form.on('checkbox(zoomCheckbox)',function (data) {
                if(data.elem.checked){
                    stage.wheelZoom = 1.02; // 设置鼠标缩放比例
                }else{
                    stage.wheelZoom = null; // 取消鼠标缩放比例
                }
            });

            $.getJSON("/dev/topology/line_view_data",function (data) {
                var lineList = data.lineList;
                var transformList = data.transformList;
                addLine(lineList,transformList);
            });

            //绘制线路及台区
            function addLine(line,transform){
                var baseX = 400,tempX = 400;
                var baseY = 120,tempY = 180;
                for(let i=0;i<line.length;i++){
                    let lineHead = newCircleNode(tempX,baseY,2,{devName:""});
                    for(let j=0;j<transform.length;j++){
                        tempX = tempX + 200;
                        newNode(tempX,baseY-10,30,30,transform[j]);
                    }
                    tempX = tempX + 200;
                    let lineEnd = newCircleNode(tempX,baseY,2,{devName:""});
                    // console.log(line[i]);
                    newLink(lineHead, lineEnd, line[i]);
                    //重新计算第二行的起始位置
                    baseY = baseY + tempY;
                    tempX = baseX;
                }
            }

            //圆形节点
            function newCircleNode(x,y,r,nodeInfo) {
                var circleNode = new JTopo.CircleNode(nodeInfo.devName);
                circleNode.radius = r; // 半径
                circleNode.alpha = 0.7;
                circleNode.fillColor = '0, 0, 255'; // 填充颜色
                circleNode.setLocation(x,y);
                circleNode.textPosition = 'Middle_Center'; // 文本位置
                circleNode.info = nodeInfo;
                circleNode.dragable = false;
                scene.add(circleNode);
                return circleNode;
            }


            // 节点
            function newNode(x, y, w, h, nodeInfo){
                var node = new JTopo.Node(nodeInfo.devName);
                node.setLocation(x, y);
                node.setSize(w, h);
                node.setImage('/images/'+nodeInfo.devType+'_'+nodeInfo.devOnline+'.png', true);
                node.textOffsetY = 10; // 文本偏移量（向下3个像素）
                node.info = nodeInfo;
                node.dragable = false;
                node.click(function(event){
                    // console.log(this.info.devId);
                    // console.log(this.info.devName);
                    window.location.href = "/dev/topology/view_transform/"+this.info.devId;
                });
                scene.add(node);
                return node;
            }

            // 简单连线
            function newLink(nodeA, nodeZ, lineInfo){
                var link = new JTopo.Link(nodeA, nodeZ, lineInfo.devName);
                link.lineWidth = 3; // 线宽
                link.bundleOffset = 60; // 折线拐角处的长度
                link.bundleGap = 20; // 线条之间的间隔
                link.textOffsetY = -25; // 文本偏移量（向下3个像素）
                link.textOffsetX = -200; // 文本偏移量（向下3个像素）
                link.strokeColor = '255,255,0';
                link.fontColor = '255,255,0';
                link.font = "16px Consolas";
                link.info = lineInfo;
                link.click(function (event) {
                    layer.open({
                        type: 2,
                        content: '/dev/line/view?id='+lineInfo.devId
                        , anim: 2 //载入方式
                        , area: ['500px', '300px'] //设置窗口宽高
                        , title: '线路详情' //窗口标题
                        , maxmin: true //允许最大化
                        , btn: ['关闭']
                        , btnAlign: 'r' //按钮靠右
                        , yes: function (index, layerObj) {
                            layer.close(index);
                        }
                    });
                });
                scene.add(link);
                return link;
            }
        });
</script>