<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
    <script th:src="@{/lib/jquery-3.4.1/jquery-3.4.1.min.js}" charset="utf-8"></script>
    <script th:src="@{/js/jtopo-0.4.8-min.js}" charset="utf-8"></script>
</head>
<body style="background-color: #9F9F9F">
<canvas  id="canvas"></canvas>
</body>
</html>
<script th:inline="javascript">
        $(document).ready(function(){

            var canvas = document.getElementById('canvas');
            var stage = new JTopo.Stage(canvas);
            var scene = new JTopo.Scene(stage);
            $('#canvas').attr("height",$(window).height()-40);
            $('#canvas').attr("width",$(window).width()-40);

            //
            // var line = [{devName:'郑州线路1',devId:1,devType:1},{devName:'郑州线路2',devId:2,devType:1},{devName:'郑州线路3',devId:3,devType:1}];
            // var transform = [{devName: '台区1',devId:1,devType:2,devParentId:1,devParentType:1},{devName: '台区2',devId:2,devType:2,devParentId:1,devParentType:1}];
            //
            // addLine(line,transform);

            $.getJSON("/dev/topology/line_view_data",function (data) {
                var lineList = data.lineList;
                var transformList = data.transformList;
                addLine(lineList,transformList);
            });

            //绘制线路及台区
            function addLine(line,transform){
                var baseX = 100,tempX = 100;
                var baseY = 120,tempY = 180;
                for(let i=0;i<line.length;i++){
                    let lineHead = newCircleNode(tempX,baseY,2,{devName:""});
                    for(let j=0;j<transform.length;j++){
                        tempX = tempX + 200;
                        newNode(tempX,baseY-10,30,30,transform[j]);
                    }
                    tempX = tempX + 200;
                    let lineEnd = newCircleNode(tempX,baseY,2,{devName:""});
                    // console.log(line[i]);
                    newLink(lineHead, lineEnd, line[i].devName);
                    //重新计算第二行的起始位置
                    baseY = baseY + tempY;
                    tempX = baseX;
                }
            }

            //圆形节点
            function newCircleNode(x,y,r,nodeInfo) {
                var circleNode = new JTopo.CircleNode(nodeInfo.devName);
                circleNode.radius = r; // 半径
                circleNode.alpha = 0.7;
                circleNode.fillColor = '0, 0, 255'; // 填充颜色
                circleNode.setLocation(x,y);
                circleNode.textPosition = 'Middle_Center'; // 文本位置
                circleNode.info = nodeInfo;
                circleNode.dragable = false;
                scene.add(circleNode);
                return circleNode;
            }


            // 节点
            function newNode(x, y, w, h, nodeInfo){
                var node = new JTopo.Node(nodeInfo.devName);
                node.setLocation(x, y);
                node.setSize(w, h);
                node.textOffsetY = 10; // 文本偏移量（向下3个像素）
                node.info = nodeInfo;
                node.dragable = false;
                node.click(function(event){
                    console.log(this.info.devId);
                    console.log(this.info.devName);
                    window.location.href = "/dev/topology/view_transform/"+this.info.devId;
                });
                scene.add(node);
                return node;
            }

            // 简单连线
            function newLink(nodeA, nodeZ, text, dashedPattern){
                var link = new JTopo.Link(nodeA, nodeZ, text);
                link.lineWidth = 3; // 线宽
                link.dashedPattern = dashedPattern; // 虚线
                link.bundleOffset = 60; // 折线拐角处的长度
                link.bundleGap = 20; // 线条之间的间隔
                link.textOffsetY = 75; // 文本偏移量（向下3个像素）
                link.strokeColor = '0,200,255';
                scene.add(link);
                return link;
            }
        });
</script>