<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>
<form class="layui-form" action="" th:object="${model}">
    <input type="hidden" th:field="*{id}"> <!--此处必须有业务主键的id-->
    <input type="hidden" name="chooseAccountId" id="chooseAccountId"> <!--此处必须有业务主键的id-->
    <input type="hidden" name="chooseTransformId" id="chooseTransformId"> <!--此处必须有业务主键的id-->
<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">选择台区</div>
                    <div class="layui-card-body">
                        <div id="test1"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md9">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table class="layui-hide" id="searchListTable" lay-filter="searchListTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



    <div class="layui-form-item  layui-hide">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="saveBtn" id="saveBtn">保存</button>
        </div>
    </div>
</form>


<script th:replace="common/base::mianJs"></script>
<script th:inline="none">

    var submitUrl = '/sms/mobile/add';

    layui.use(['form', 'table','laydate','treeSelect','tree'], function () {
        var $ = layui.jquery,
            form = layui.form,
            laydate = layui.laydate,
            treeSelect = layui.treeSelect,
            tree = layui.tree,
            table = layui.table;

        // 默认的操作地址
        var list_url = '/sms/mobile/list_user';


        $.getJSON('/sms/mobile/line_tree', function(json){
            tree.render({
                elem: '#test1'  //绑定元素
                ,data: json,
                click: function(obj){
                    if(obj.data.type == 2){
                        $('#chooseTransformId').val(obj.data.id);
                        //是台区的话更新归属人员
                        table.reload('searchListTable', {
                            url: list_url,
                            toolbar:null,
                            where: {
                                "devId": obj.data.id
                            }
                        });
                    }
                }
            });
        });





        table.render($.extend(config.searchListTable, {
            url: list_url,
            toolbar:null,
            //表格列
            cols: [[
                {type: "checkbox", width: 50, fixed: "left"},
                {field: 'real_name', width: 120,title: '姓名'},
                {field: 'sex', width: 80, title: '性别', sort: true},
                {field: 'mobile', width: 120,title: '手机号'},
                {field: 'dep_name',  title: '部门', sort: true}
            ]]
        }));

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            console.log("点击提交");
            let selectRows = table.checkStatus('searchListTable');
            if(selectRows.data.length==0){
                layer.msg("请选择设备！");
                return false;
            }else{
                console.log(selectRows.data);
                var chooseAccountId = "";
                for(var i=0;i<selectRows.data.length;i++){
                    chooseAccountId = chooseAccountId + selectRows.data[i].id + ",";
                }
                chooseAccountId = chooseAccountId.substring(0,chooseAccountId.length-1);

                let index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                let loadIndex = parent.layer.load();

                $.post(submitUrl, {chooseAccountId:chooseAccountId,chooseTransformId:$('#chooseTransformId').val()}, function (result) {
                    let r = JSON.parse(result);
                    if (r.code == 200) {
                        parent.layer.close(index); //再执行关闭
                        parent.layui.table.reload('searchListTable');
                    }
                    parent.layer.close(loadIndex);
                    parent.layer.msg(r.message);
                });
            }


            return false;
        });



    });
</script>

</body>
</html>