<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title th:replace="common/base::pagetitle"></title>
    <link th:replace="common/base::static"/>
</head>
<body>

<div class="layuimini-container">
    <div class="layuimini-main">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md3">
                <div class="layui-card">
                    <div class="layui-card-header">选择台区</div>
                    <div class="layui-card-body">
                        <div id="test1"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md9">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <table class="layui-hide" id="searchListTable" lay-filter="searchListTable"></table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script th:replace="common/base::mianJs"></script>
<script th:inline="none">


    // config.initQueryCondition();

    layui.use(['form', 'table','laydate','treeSelect','tree'], function () {
        var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                treeSelect = layui.treeSelect,
                tree = layui.tree,
                table = layui.table;

        // 默认的操作地址
        var list_url = '/sys/account/list';


        $.getJSON('/sms/mobile/line_tree', function(json){
            tree.render({
                elem: '#test1'  //绑定元素
                ,data: json,
                click: function(obj){
                    console.log(obj.data.type); //得到当前点击的节点数据
                }
            });
        });





        table.render($.extend(config.searchListTable, {
            url: list_url,
            toolbar:null,
            //表格列
            cols: [[
                {type: "checkbox", width: 50, fixed: "left"},
                {field: 'real_name', width: 120,title: '姓名'},
                {field: 'sex', width: 80, title: '性别', sort: true},
                {field: 'mobile', width: 120,title: '手机号'},
                {field: 'dep_name',  title: '部门', sort: true},
                {field: 'statis', width: 120, title: '账号状态', templet:function (d) {
                        return d.status == 0 ? "<span class=\"layui-badge layui-bg-green\">正常</span>" : "<span class=\"layui-badge layui-bg-danger\">禁用</span>";
                    }}
            ]]
        }));



    });
</script>

</body>
</html>